body{
  font-family: 'Rubik', sans-serif;
}

h1{
  font-weight: 900;
  font-size: 4rem;
}


/* HOME SECTION */

#home{
  padding:3% 7% 7%;
  background-image: linear-gradient(to right top, #845EC2, #2C73D2, #0081CF, #0089BA, #008E9B, #008F7A);
}

.navbar{
  font-weight: 600;
}
.content-home{
  padding: 0 7%;
}
.people-img{
  width: 100%;
  border-radius: 7px 70px;
  margin-top: 10%;
}
.wavy-img{
  width: 90%;
  margin-top: 10%;
}

.content-home .col-lg-6{
  text-align: center;
  position: relative;
}

.title-text{
  text-align:left;
  position: absolute;
  top: 28%;
  left: 20%;
  width: 70%;
}

.fa-school{
  padding-right: 8px;
}
.login-buttons .btn{
  width : 150px;
  margin-right: 2px;
}
/* Footer section */


#footer{
  height: 400px;
  text-align: center;
}

.social-media-icons {
  margin: 200px 50px 0px;
}

.social-media-icons:hover{
  color: #0089BA;
}
